:host{
    display: flex;
}

#spendingsGrid {
    width: 50dvw;
    height: 40dvh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 2fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    // grid-template-areas: 
    // "card card"
    // "card card";
}
